<div class="chatWrap closed">
    <div class="chat">
        <div class="title">Онлайн чат</div>
        <div class="name">Менеджер Анна</div>
        <div class="textArea">
            <div class="manager">
                <div class="img" style="background-image: url(https://placekitten.com/200/300);"></div>
                <p>Ок, жду.</p>
                <div class="time">Сегодня в 11:53</div>
            </div>
            <div class="user">
                <p>Какая стоимость за усл. ед.?</p>
                <div class="time">Сегодня в 11:53</div>
            </div>
            <div class="user">
                <p>Какой-то текст</p>
                <div class="time">Сегодня в 11:53</div>
            </div>
            <div class="manager">
                <div class="img" style="background-image: url(https://placekitten.com/200/300);"></div>
                <p>В «Яндекс.Такси» теперь можно делиться своим местоположением с таксистами в реальном времени </p>
                <div class="time">Сегодня в 11:53</div>
            </div>
        </div>
        <form action="" class="inputWrap">
            <input type="text" placeholder="Напишите сообщение...">
            <button class="btn"></button>
        </form>
        <div class="btBl">
            <button class="bt bt1"></button>
            <button class="bt bt2"></button>
            <button class="bt bt3"></button>
            <button class="bt bt4"></button>
        </div>
    </div>
</div>
<link rel="stylesheet" href="css/my.css">