<footer class="footer">
<img class="footer_img" src="img/footer_img.png"></img>
<div class="container">
    <a  href="javascript:void(0);" class="footer_logo"></a>
    <div class="footer_text">Любое предоставление ПАО «ЛИЗИНГ» информации на данном сайте не должно рассматриваться как предоставление неполной или недостоверной информации, в том числе как умолчание или заверение об обстоятельствах, имеющих значение для заключения, исполнения или прекращения сделки, или как обязательство заключить сделку на условиях, изложенных на данном сайте, или как оферта, если только иное прямо не указано на данном сайте.</div>
    </div>
<div class="footer_bottom">
    <div class="container">© 2018 ПАО «ЛИЗИНГ»</div>
</div>
    </footer>
    <style>
    /*стили только если использоуется футер*/
        @media(min-width: 0px){
            .footer{height: 485px;}
            body{padding-bottom: 575px;}
        }
        @media(min-width: 575px){
            .footer{height: 410px;}
            body{padding-bottom: 500px;}
        }
        @media(min-width: 768px){
            .footer{height: 360px;}
            body{padding-bottom: 450px;}
        }
        @media(min-width: 992px){
            .footer{height: 335px;}
            body{padding-bottom: 425px;}
        }
        @media(min-width: 1230px){
            .footer{height: 335px;}
            body{padding-bottom: 425px;}
        }
    </style>
