
<footer class="footer">
    <!-- <img class="footer_img" src="img/footer_img.png"></img> -->
    <div class="container">
        <!-- <a  href="javascript:void(0);" class="footer_logo"></a> -->
        <div class="footer_text">Любое предоставление ПАО «ЛИЗИНГ» информации на данном сайте не должно рассматриваться как предоставление неполной или недостоверной информации, в том числе как умолчание или заверение об обстоятельствах, имеющих значение для заключения, исполнения или прекращения сделки, или как обязательство заключить сделку на условиях, изложенных на данном сайте, или как оферта, если только иное прямо не указано на данном сайте.</div>
    </div>
    <div class="footer_bottom">
        <div class="container">© 2018 ПАО «ЛИЗИНГ»</div>
    </div>
</footer>
<!-- чтобы hover img загружались при загрузке страницы а не в момент ховера -->
<div style="position: absolute;left:-99999px;top:-99999px;">
    <img async src="img/bt-lizGive-h.png">
    <img async src="img/bt-lizTake-h.png">
    <img async src="img/bt-men-h.png">
    <img async src="img/bt-notife-h.png">
    <img async src="img/bt-user-h.png">
    <img async src="img/header_callB-A.png">
    <img async src="img/header_exit-H.png">
    <img async src="img/header_profB-A.png">
    <img async src="img/header_profBArrow-A.png">
    <img async src="img/header_set-H.png">
    <img async src="img/step_1.png">
</div>