<div class="steps">
    <div class="step">
        <div class="step_img step_img-1"></div>
        <div class="step_num">Шаг 1</div>
        <div class="step_name">Формирование заявки</div>
    </div>
    <div class="step">
        <div class="step_img step_img-2"></div>
        <div class="step_num">Шаг 2</div>
        <div class="step_name">Подготовка кп</div>
    </div>
    <div class="step">
        <div class="step_img step_img-3"></div>
        <div class="step_num">Шаг 3</div>
        <div class="step_name">Загрузка документов </div>
    </div>
    <div class="step">
        <div class="step_img step_img-4"></div>
        <div class="step_num">Шаг 4</div>
        <div class="step_name">Одобрение заявки </div>
    </div>
</div>