
@font-face {
    font-family: "Proxima Nova";
    font-weight: regular;
    src: url("../fonts/Proxima_Nova.woff") format('woff');
}


@font-face {
    font-family: "Proxima Nova - Semibold";
    font-weight: bold;
    src: url("../fonts/Proxima_Nova_Bold.woff") format("woff");
}

