
// Proxima Nova
@font-face {
    font-family: "Proxima Nova";
    font-weight: regular;
    // src: 
    // url("fonts/SamplinaNeue.eot?") format("eot"),
    src: url(".../fonts/Proxima_Nova.eot");
    src: url("../fonts/Proxima_Nova.eot?#iefix") format("embedded-opentype"), 
         url("../fonts/Proxima_Nova.ttf") format("truetype");
    // url("../fonts/Proxima_Nova.woff") format("woff");
}

// Proxima Nova - Semibold
@font-face {
    font-family: "Proxima Nova - Semibold";
    font-weight: bold;
    src: url("../fonts/Proxima_Nova_Bold.eot");
    src: url("../fonts/Proxima_Nova_Bold?#iefix") format("embedded-opentype"),
         url("../fonts/Proxima_Nova_Bold.otf") format("opentype");
}


