.header {
  width: 100%;
  position: relative;
  z-index: 20;
  margin-bottom: 13px;
  box-shadow: 4px 16px 29px rgba(29, 29, 29, 0.1);
}
.header_top {
  height: 64px;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1230px;
}
.header .logo {
  background-image: url(../img/header_logo.png);
  float: left;
  margin-top: 17px;
  width: 191px;
  height: 25px;
}
.header .header_right {
  float: right;
  width: 632px;
}
.header .adr{
  display: block;
  width: calc(100% - 823px);
  line-height: 14px;
  margin-bottom: 0px;
  text-align: center;
  float: left;
  font-size: 13px;
  height: 100%;
  padding: 24px 10px;
}
.header .callB {
  border-left: 1px solid transparent;
  background-image: url(../img/header_callB.png);
  background-repeat: no-repeat;
  background-position: 14px center;
  padding: 13px 10px 0px 46px;
  width: 178px;
  height: 64px;
  float: left;
  position: relative;
  cursor: pointer;
  background-size: 20px 20px;;
}
.header .callB b {
  font-size: 13px;
  font-weight: 400;
  font-family: "Proxima Nova - Semibold";
  line-height: 12px;;
}
.header .callB p {
  font-family: "Proxima Nova";
  font-size: 13px;
  font-weight: 400;
  margin: 0px;
  line-height: 13px;
}
.header .callB:hover, .header .callB.active {
  background-image: url(../img/header_callB-A.png);
}
.header .callB:hover p, .header .callB.active p {
  color: #019c5a;
}
.header .notifB {
  border-left: 1px solid transparent;
  background-image: url(../img/header_notifB.png);
  background-repeat: no-repeat;
  background-position: 14px center;
  float: left;
  width: 140px;
  height: 64px;
  padding: 22px 19px 0px 47px;
  position: relative;
  font-family: "Proxima Nova";
  font-size: 13px;
  font-weight: 400;
  cursor: pointer;
  background-size: 19px 19px;
}
.header .notifB .quant {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: #019c5a;
  color: #fff;
  font-family: "Proxima Nova - Semibold";
  font-size: 10px;
  font-weight: 400;
  line-height: 14px;
  position: absolute;
  top: 7px;
  left: 30px;
  text-align: center;
}
.header .notifB:hover, .header .notifB.active {
  background-image: url(../img/header_notifB-A.png);
}
.header .profB {
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  background-image: url(../img/header_profB.png);
  background-repeat: no-repeat;
  background-position: 18px center;
  float: left;
  width: 314px;
  height: 64px;
  text-align: center;
  position: relative;
  padding: 26px 52px 0px 46px;
  font-family: "Proxima Nova";
  font-size: 13px;
  font-weight: 400;
  line-height: 14.75px;
  cursor: pointer;
  background-size: 19px 19px;
}
.header .profB:hover, .header .profB.active {
  background-image: url(../img/header_profB-A.png);
}
.header .profB:after {
  content: "";
  background-image: url(../img/header_profBArrow.png);
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  width: 10px;
  height: 6px;
  top: 29px;
  right: 19px;
}
.header .profB.active:after {
  content: "";
  background-image: url(../img/header_profBArrow-A.png);
}
.header .callW {
  background-image: url(../img/header_callW.png);
  background-repeat: no-repeat;
  background-position: 100% 0px;
  position: absolute;
  box-shadow: -19px 27px 35px rgba(29, 29, 29, 0.12);
  border-radius: 0 0 5px 5px;
  border: 1px solid #dedede;
  background-color: #fff;
  top: 64px;
  right: 15px;
  z-index: 20;
  padding: 25px 38px 38px;
  display: none;
  max-width: 632px;
  width: 100%;
}
.header .toggleBt {
  margin-bottom: 25px;
}
.header_pop label{
  font-size: 13px;
}
.header_shadow {
  display: none;
  position: fixed;
  background: black;
  opacity: 0.3;
  width: 100%;
  height: calc(100% - 53px);
  top: 64px;
  left: 0px;
  z-index: 15;
  cursor: pointer;
}
.header .notifW {
  display: none;
  background-image: url(../img/header_notifW.png);
  background-repeat: no-repeat;
  background-position: 100% 0px;
  position: absolute;
  box-shadow: -19px 27px 35px rgba(29, 29, 29, 0.12);
  border-radius: 0 0 5px 5px;
  border: 1px solid #dedede;
  background-color: #fff;
  top: 64px;
  right: 15px;
  z-index: 20;
  padding: 20px 28px 10px;
  display: none;
  max-width: 454px;
  width: 100%;
}
.header .notifW a {
  color: #1a1a1a;
  font-family: "Proxima Nova";
  font-size: 14px;
  font-weight: 400;
  display: block;
  margin-bottom: 10px;
}
.header .notifW a:hover {
  color: #019c5a;
  font-family: "Proxima Nova";
  font-size: 14px;
  font-weight: 400;
  text-decoration: underline;
}
.header .profW {
  display: none;
  background-image: url(../img/header_profW.png);
  background-repeat: no-repeat;
  background-position: 100% 0px;
  position: absolute;
  box-shadow: -19px 27px 35px rgba(29, 29, 29, 0.12);
  border-radius: 0 0 5px 5px;
  border: 1px solid #dedede;
  background-color: #fff;
  top: 64px;
  right: 16px;
  z-index: 20;
  padding: 24px 32px 6px;
  display: none;
  max-width: 313px;
  width: 100%;
}
.header .profW .h4 {
  margin-bottom: 24px;
}
.header .profW a {
  display: block;
  background-repeat: no-repeat;
  padding-left: 33px;
  font-family: "Proxima Nova";
  font-size: 14px;
  margin-bottom: 19px;
  font-weight: 400;
  color: #000;
}
.header .profW a:hover {
  color: #019b59;
}
.header_set {
  background-image: url(../img/header_set.png);
}
.header_set:hover {
  background-image: url(../img/header_set-H.png);
}
.header_exit {
  background-image: url(../img/header_exit.png);
}
.header_exit:hover {
  background-image: url(../img/header_exit-H.png);
}
.header_menu {
  background-color: #019c5a;
}
@media (max-width: 880px) {
  .header .header_right {
    width: 240px;
  }
  .header .callB {
    padding: 0px;
    height: 64px;
    width: 80px;
    background-position: center;
    font-size: 0px;
  }
  .header .callB b, .header .callB p {
    display: none;
  }
  .header .notifB {
    padding: 0px;
    height: 64px;
    width: 80px;
    background-position: center;
    font-size: 0px;
  }
  .header .profB {
    padding: 0px;
    height: 64px;
    width: 80px;
    background-position: center;
    font-size: 0px;
  }
  .header .profB:after {
    display: none;
  }
}
@media (max-width: 485px) {
  .header_top {
    padding: 2px 5px;
    height: 53px;
  }
  .header .logo {
    margin-top: 10px;
    width: 164px;
  }
  .header .header_right {
    width: 145px;
  }
  .header .callB {
    height: 50px;
    width: 50px;
  }
  .header .notifB {
    height: 50px;
    width: 50px;
  }
  .header .notifB .quant {
    left: 28px;
    top: 9px;
  }
  .header .profB {
    height: 50px;
    width: 45px;
    border-right: none;
  }
  .header .callW, .header .notifW, .header .profW {
    top: 53px;
    right: 0px;
  }
}
.navbar-brand {
  background-image: url(../img/header_logo.png);
  width: 210px;
  height: 35px;
  background-repeat: no-repeat;
}
.header_menu .navbar {
  padding: 0px;
}
.navbar-dark .navbar-nav .nav-link {
  color: #fff;
}
.nav-link {
  color: #fff;
  font-family: "Proxima Nova";
  font-size: 14px;
  font-weight: 400;
  padding: 9px 16px;
  line-height: 17px;
}
.header_menu .navbar-nav {
  width: 100%;
  max-width: 512px;
  justify-content: space-between;
  padding-left: 5px;
}
.navbar-dark .navbar-nav .nav-link {
  padding-right: 0px;
  padding-left: 0px;
  border-bottom: 2px solid #019c5a;
}
.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .active > .nav-link {
  color: #fff;
  border-color: #fff;
}
@media (max-width: 1070px) {
  .header .adr{display: none;}
}
@media (max-width: 767px) {
  .navbar-dark .navbar-nav .nav-link {
    border-bottom: 0px solid #019c5a;
    border-left: 2px solid #019c5a;
    line-height: 11px;
    padding-left: 10px;
  }
}
.navbar-dark .navbar-toggler {
  color: #fff;
  border-color: transparent;
}
.breadcrumb {
  background-color: transparent;
  padding: 0px 0px 3px;
  margin-top: 22px;
  margin-bottom: 19px;
}
.breadcrumb-item + .breadcrumb-item {
  padding-left: 5px;
}
.breadcrumb-item + .breadcrumb-item::before {
  padding-right: 3px;
}
