
.header {
  width: 100%;
  height: 137px;
  position: relative;
  z-index: 10;
}
.header_top {
  height: 93px;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1230px;
}
.header .header_logo {
  width: 234px;
  height: 25px;
  background-image: url(../img/header_logo.png);
  float: left;
  margin-top: 30px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.header .header_right {
  float: right;
  width: 780px;
}
.header .callB {
  border-left: 1px solid #efefef;
  background-image: url(../img/header_callB.png);
  background-repeat: no-repeat;
  background-position: 38px center;
  padding: 23px 37px 21px 86px;
  float: left;
  position: relative;
  cursor: pointer;
}
.header .callB b {
  font-family: "Proxima Nova - Semibold";
  font-size: 16px;
  font-weight: 400;
}
.header .callB p {
  font-family: "Proxima Nova";
  font-size: 14px;
  font-weight: 400;
  margin: 0px;
}
.header .callB:hover,
.header .callB.active {
  background-image: url(../img/header_callB-A.png);
}
.header .callB:hover p,
.header .callB.active p {
  color: #019c5a;
}
.header .notifB {
  border-left: 1px solid #efefef;
  background-image: url(../img/header_notifB.png);
  background-repeat: no-repeat;
  background-position: 35px center;
  float: left;
  padding: 36px 37px 33px 81px;
  position: relative;
  font-family: "Proxima Nova";
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
}
.header .notifB .quant {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: #019c5a;
  color: #ffffff;
  font-family: "Proxima Nova - Semibold";
  font-size: 10px;
  font-weight: 400;
  line-height: 14px;
  position: absolute;
  top: 24px;
  left: 56px;
  text-align: center;
}
.header .notifB:hover,
.header .notifB.active {
  background-image: url(../img/header_notifB-A.png);
}
.header .profB {
  border-left: 1px solid #efefef;
  border-right: 1px solid #efefef;
  background-image: url(../img/header_profB.png);
  background-repeat: no-repeat;
  background-position: 42px center;
  float: left;
  position: relative;
  padding: 36px 92px 33px 85px;
  font-family: "Proxima Nova";
  font-size: 16px;
  font-weight: 400;
  line-height: 20.75px;
  cursor: pointer;
}
.header .profB:hover,
.header .profB.active {
  background-image: url(../img/header_profB-A.png);
}
.header .profB:after {
  content: "";
  background-image: url(../img/header_profBArrow.png);
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  width: 14px;
  height: 7px;
  top: 43px;
  right: 36px;
}
.header .profB.active:after {
  content: "";
  background-image: url(../img/header_profBArrow-A.png);
}
.header .callW {
  background-image: url(../img/header_callW.png);
  background-repeat: no-repeat;
  background-position: 100% 0px;
  position: absolute;
  box-shadow: -19px 27px 35px rgba(29, 29, 29, 0.12);
  border-radius: 0 0 5px 5px;
  border: 1px solid #dedede;
  background-color: #ffffff;
  top: 93px;
  right: 15px;
  z-index: 20;
  padding: 25px 38px 38px;
  display: none;
  max-width: 780px;
  width: 100%;
}
.header .toggleBt {
  margin-bottom: 25px;
}
.header .h4 {}
.header .notifW {
  display: none;
  background-image: url(../img/header_notifW.png);
  background-repeat: no-repeat;
  background-position: 100% 0px;
  position: absolute;
  box-shadow: -19px 27px 35px rgba(29, 29, 29, 0.12);
  border-radius: 0 0 5px 5px;
  border: 1px solid #dedede;
  background-color: #ffffff;
  top: 93px;
  right: 15px;
  z-index: 20;
  padding: 20px 28px 10px;
  display: none;
  max-width: 515px;
  width: 100%;
}
.header .notifW a {
  color: #1a1a1a;
  font-family: "Proxima Nova";
  font-size: 14px;
  font-weight: 400;
  display: block;
  margin-bottom: 10px;
}
.header .notifW a:hover {
  color: #019c5a;
  font-family: "Proxima Nova";
  font-size: 14px;
  font-weight: 400;
  text-decoration: underline;
}
.header .profW {
  display: none;
  background-image: url(../img/header_profW.png);
  background-repeat: no-repeat;
  background-position: 100% 0px;
  position: absolute;
  box-shadow: -19px 27px 35px rgba(29, 29, 29, 0.12);
  border-radius: 0 0 5px 5px;
  border: 1px solid #dedede;
  background-color: #ffffff;
  top: 93px;
  right: 15px;
  z-index: 20;
  padding: 24px 32px 6px;
  display: none;
  max-width: 294px;
  width: 100%;
}
.header .profW .h4 {
  margin-bottom: 24px;
}
.header .profW a {
  display: block;
  background-repeat: no-repeat;
  padding-left: 33px;
  font-family: "Proxima Nova";
  font-size: 14px;
  margin-bottom: 19px;
  font-weight: 400;
  color: #000000;
}
.header .profW a:hover {
  color: #019b59;
}
.header_set {
  background-image: url(../img/header_set.png);
}
.header_set:hover {
  background-image: url(../img/header_set-H.png);
}
.header_exit {
  background-image: url(../img/header_exit.png);
}
.header_exit:hover {
  background-image: url(../img/header_exit-H.png);
}
.header_menu {
  background-color: #019c5a;
}
@media(max-width:1070px) {
  .header .header_right {
    width: 240px;
  }
  .header .callB {
    padding: 0px;
    height: 93px;
    width: 80px;
    background-position: center;
    font-size: 0px;
  }
  .header .callB b,
  .header .callB p {
    display: none;
  }
  .header .notifB {
    padding: 0px;
    height: 93px;
    width: 80px;
    background-position: center;
    font-size: 0px;
  }
  .header .notifB .quant {}
  .header .profB {
    padding: 0px;
    height: 93px;
    width: 80px;
    background-position: center;
    font-size: 0px;
  }
  .header .profB:after {
    display: none;
  }
}
@media(max-width:540px) {
  .header_top {
    padding: 2px 5px;
    height: 53px;
  }
  .header .header_logo {
    margin-top: 10px;
    width: 164px;
  }
  .header .header_right {
    width: 145px;
  }
  .header .callB {
    height: 50px;
    width: 50px;
  }
  .header .notifB {
    height: 50px;
    width: 50px;
  }
  .header .notifB .quant {
    left: 28px;
    top: 9px;
  }
  .header .profB {
    height: 50px;
    width: 45px;
    border-right: none;
  }
  .header .callW,
  .header .notifW,
  .header .profW {
    top: 53px;
  }
}
.navbar-brand {
  background-image: url(../img/header_logo.png);
  width: 210px;
  height: 35px;
  background-repeat: no-repeat;
}
.header_menu .navbar {
  padding: 2px 0px;
}
.navbar-dark .navbar-nav .nav-link {
  color: #ffffff;
}
.nav-link {
  color: #ffffff;
  font-family: "Proxima Nova";
  font-size: 15px;
  font-weight: 400;
  padding: 9px 16px;
}
.header_menu .navbar-nav {
  width: 100%;
  max-width: 597px;
  justify-content: space-between;
  padding-left: 5px;
}
.breadcrumb {
  background-color: transparent;
  padding: 23px 0px 4px;
}
.breadcrumb-item {}
.breadcrumb a {}
.breadcrumb-item+.breadcrumb-item {
  padding-left: 5px;
}
.breadcrumb-item+.breadcrumb-item::before {
  padding-right: 3px;
}
