.pageStep4 .h4 {
    line-height: 26px;
    text-align: center;
    font-size: 18px;
  }
  .pageStep4 .iconBL {
    color: #000000;
    font-family: $font_1;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 12px;
  }
  .pageStep4 .iconBigWait {
    margin: 28px auto 31px;
  }
  .pageStep4 .iconBL p {
    text-align: center;
    margin-bottom: 26px;
  }
  